<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div>
            <h1>Testing Kloak User Chart</h1>
        </div>
        <div>
            <canvas id ="KloakUserChart" width="400" height="400"></canvas>
            <%= kuchart %>
        </div>
    </body>
</html>